@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');
@import "tailwindcss"; 


@custom-variant dark (&:where(.dark, .dark *));

@tailwind base;
@tailwind components;
@tailwind utilities; 

* { 
    font-family: "Josefin Sans", sans-serif; 
}

*, input {
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
}

@layer base {
    input {
       @apply text-xs sm:text-lg placeholder:text-[#9495A5] dark:placeholder:text-[#767992] text-[#393A4B] dark:text-[#C8CBE7] flex-grow w-0 outline-none focus:outline-none focus-visible:outline-none; 
    }
    span, label, p {
        @apply text-xs sm:text-lg text-[#393A4B] dark:text-[hsl(234,39%,85%)];
    }
    p {
        @apply leading-[1.4]
    }
}

@layer components {
    .container-1 {
        @apply max-w-[33.75rem] mx-auto mt-[9.2rem] bg-white py-[1rem] px-[1.25rem] sm:py-[1.25rem] sm:px-[1.5rem]
    }
    .container-bg {
        @apply bg-white dark:bg-[#25273B];
    }
}